.item {
  width: 33%;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #ffffff;
  text-align: center;
}
/* .item:not(:last-child) {
  border-right: 1px solid #000000;
} */
.item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.label {
  display: block;
  padding-bottom: 5px;
  font-size: 10px;
}
.percentage {
  display: block;
  font-size: 14px;
}
